<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listings</title>
  <link rel="stylesheet" href="/style.css">
  
<body>
<% layout("/layout/plate") -%>


<div class="row g-4">
  
  <% allListing.forEach((item) => { %>
    <div class="col-md-4">
    <a href="/listing/<%= item._id %>" style="text-decoration: none;">
        <div class="card" >
            <img src="<%= item.image.url %>" alt="listing image"  class="card-img-top" >
      
            <h4><%= item.title %></h4>
      
            <p><%= item.description %></p>
      
            <p class="price">₹ <%= item.price %></p>
      
            <p class="location">
              <%= item.location %>, <%= item.country %>
            </p>
            
          </div>
    </a>
    
  </div>
  <% }) %>

</div>

</body>
