<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listings</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<% layout("/layout/plate") -%>


<div class="row g-4">
  
  <% allListing.forEach((item) => { %>
    <div class="col-md-4">
    <a href="/listing/<%= item._id %>" style="text-decoration: none;">
        <div class="card" >
            <img src="<%= item.image.url %>" alt="listing image"  class="card-img-top" >
      
            <h4><%= item.title %></h4>
      
            <p><%= item.description %></p>
      
            <p class="price">₹ <%= item.price %></p>
      
            <p class="location">
              <%= item.location %>, <%= item.country %>
            </p>
            
          </div>
    </a>
    
  </div>
  <% }) %>

</div>

</body>
