
  <title><%= listing.title %></title>
    <link rel="stylesheet" href="/style.css">
    <% layout("layout/plate") %>

<div class="show-wrapper">
  <div class="show-card">

    <img src="<%= listing.image.url %>" alt="listing image" class="show-img">

    <div class="show-content">
      <h1><%= listing.title %></h1>

      <p class="desc"><%= listing.description %></p>

      <p class="price">
        ₹ <%= listing.price.toLocaleString("en-IN") %>
      </p>

      <p class="location">
        <%= listing.location %>, <%= listing.country %>
      </p>

      <div class="action-btns">
        <a href="/listing" class="back-btn">← Back</a>

        <a href="/listing/<%= listing._id %>/edit" class="edit-btn">Edit</a>

        <form method="POST" action="/listing/<%= listing._id %>?_method=DELETE">
          <button class="delete-btn" type="submit">Delete</button>
        </form>
      </div>

    </div>
  </div>
</div>
</html>