<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= listing.title %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <% layout("/layout/plate") -%>
</head>
<body>

  <div class="container">

    <img src="<%= listing.image.url %>" alt="listing image">

    <div class="content">
      <h1><%= listing.title %></h1>

      <p><%= listing.description %></p>

      <p class="price">₹ <%= listing.price.toLocaleString("en-IN") %></p> 

      <p class="location">
        <%= listing.location %>, <%= listing.country %>
      </p>

      <a href="/listing">← Back to Listings</a>
    </div>

  </div>
  <a href="/listing/<%= listing._id %>/edit">Edit</a>
<br><br>
  <form method="post" action="/listing/<%=listing._id%>?_method=DELETE">
    <button class="del">DELETE THIS LISTING</button>
  </form>
</body>
</html>